.container {
  display: flex;
}

.table-of-contents {
  width: 200px;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
}

.table-of-contents ul {
  list-style-type: none;
  padding-left: 15px;
  border-left: 1px solid blue;
}

.table-of-contents li {
  margin-bottom: 10px;
  white-space: nowrap; /* Prevent line breaks */
  overflow: hidden; /* Hide the overflowing content */
  text-overflow: ellipsis/* Display an ellipsis (...) for the overflowing content */
}

.table-of-contents a {
  text-decoration: none;
  color: #333;
}

.table-of-contents li.active > a {
  font-weight: bold;
  color: green;
}

main {
  margin-left: 220px;
  padding: 20px;
}

html {
  scroll-behavior: smooth;
}
